<div class="mainbg">
  <app-nav></app-nav>
  <div class="container maincontainer">
      <h4 class="text-primary pagetitle">Rates</h4>
      <hr>
      <div class="col-md-6">
       <label>Hotel Name</label>
          <input type="text" class="form-control" placeholder="Hotel Name" list="hotelname"/>
          <datalist id="hotelname">
            <option value="Abc">Abc</option>
            <option value="Xyz">Xyz</option>
          </datalist>
          <br>
          <label>Menu Name</label>
          <input type="text" class="form-control" placeholder="Menu Name" list="menus"/>
          <datalist id="menus">
            <option value="Breakfast">Breakfast</option>
            <option value="Starters">Starters</option>
          </datalist>
          <br>
          <label>Rate</label>
          <input type="text" class="form-control" placeholder="Rate"/>
          <br>
          <button class="btn btn-primary">
            <i class="fa fa-save"></i> Save
          </button>
      </div>
    </div>
