<div class="mainbg">
  <app-nav></app-nav>
  <div class="container maincontainer">
    <h4 class="text-primary fonts">Order Review</h4>
    <hr/>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Order placed successfully</h3>
      </div>
      <div class="panel-body">
        <h4>Your order has been placed successfully.</h4>
        <h5>Your order number is: <span class="bold text-info">ORD-{{ordId}}</span></h5>
        <h5><a routerLink="/neworder" class="btn-link">Click</a> to go home <i class="fa fa-home"></i> </h5>
      </div>
    </div>
  </div>
</div>