<div class="mainbg">
  <app-nav></app-nav>
  <div class="container maincontainer">
    <h4 class="text-primary pagetitle">Billing</h4>
    <hr>
    <div class="alert alert-success" role="alert" *ngIf="billSuccess">
      <strong><i class="fa fa-check"></i> {{billSuccess}}</strong>
    </div>
    <div class="col-md-12" *ngIf="billDets">
      <div class="panel panel-primary">
        <div class="panel-body">
          <table class="table noborder">
            <tbody>
              <tr>
                <td><span class="bold">Bill Id:</span> {{billDets.billID}}</td>
                <td>
                  <span class="floatRight ml10"><span class="bold">Delivery Date:</span> {{billDets.delDate | date : 'dd-MM-yyyy'}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="bold">Hotel:</span> {{billDets.hotelNm}}
                </td>
                <td><span class="floatRight"><span class="bold">Contact No.:</span> {{billDets.contNo}}</span></td>
              </tr>
              <tr>
                <td><span class="bold">Order By:</span>{{billDets.orderBy}}</td>
                <td><span class="floatRight"><span class="bold">Order Date:</span> {{billDets.orderDate | date : 'dd-MM-yyyy'}}</span></td>
              </tr>
              <tr>
                <td><span class="bold">Bill Amount:</span> {{billAmt.amount}}</td>
                <td><span class="floatRight"><span class="bold">Bill Date:</span> {{billDets.billDate | date:'dd-MM-yyyy'}}</span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="bold">Pending Amount:</span> {{billAmt.amtRem}}</td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Enter Payment Method" [(ngModel)]="inputPayMethod" list="paymethod" />
            <datalist id="paymethod">
              <option value="{{payMethod.payment_mode}}" *ngFor="let payMethod of payAllMethods;">{{payMethod.payment_mode}}</option>
            </datalist>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Remarks (e.g. Cheque number, etc)" [(ngModel)]="remarks" />
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Payment Date (dd-MM-yyyy)" [(ngModel)]="payDate" (blur)="validate_date()"/>
            <h6 class="text-danger" *ngIf="dateError == true">*Invalid date</h6>
          </div>

          <div class="col-md-4 mt5">
            <input type="text" class="form-control" placeholder="Received By" [(ngModel)]="receivedBy" />
          </div>
          <div class="col-md-4 mt5">
            <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="inputAmt" />
            <h6 class="text-danger" *ngIf="convNumber(inputAmt) > convNumber(billAmt.amtRem)"><i class="fa fa-exclamation-triangle"></i> Enter amount less than pending amount.</h6>
          </div>
          <div class="col-md-4 mt5">
            <!-- {{dateError}},{{!receivedBy}},{{!inputAmt}},{{!inputPayMethod}},{{(convNumber(inputAmt) > convNumber(billAmt.amount))}} -->
            <button class="btn btn-sm btn-info mt5" [disabled]="dateError || !receivedBy || !inputAmt || !inputPayMethod || (convNumber(inputAmt) > convNumber(billAmt.amtRem))" (click)="settle_bill()"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <table class="table table-stripped relative">
        <thead>
          <tr>
            <th>#</th>
            <th>Bill No.</th>
            <th>Order Id</th>
            <th>Amount</th>
            <th>Amount Rem.</th>
            <th>Bill Date</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of allBills; let i = index;" class="">
            <td>{{i+1}}
                <div *ngIf="bill.accDets.length>0 && showAccWrapper == i" class="paymentWrapper absolute">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Payment Date</th>
                            <th>Amount</th>
                            <th>Mode</th>
                            <th>Remarks</th>
                            <th>
                              <span>Received By</span>
                              <i class="fa fa-times-circle text-danger floatRight closePopUp" (click)="showAccWrapper=-1"></i>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let accdets of bill.accDets; let ind = index;">
                            <td>{{ind+1}}</td>
                            <td>{{accdets.bill_date | date : "dd-MM-yyyy"}}</td>
                            <td>{{accdets.amount}}</td>
                            <td>{{accdets.payment_mode}}</td>
                            <td>
                              <span *ngIf="accdets.remarks.trim() != '' && accdets.remarks != 'null'">{{accdets.remarks}}</span>
                              <span *ngIf="accdets.remarks.trim() == '' || accdets.remarks == 'null'">-</span>
                            </td>
                            <td>{{accdets.received_by}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </td>
            <td>{{bill.id}}</td>
            <td>{{bill.order_id}}</td>
            <td>{{bill.amount}}</td>
            <td>{{bill.amtRem}}
              <h6 *ngIf="bill.accDets.length>0" class="text-primary">
                <a href="javascript:void(0);" (click)="showAccWrapper = i">previous payments <i class="fa fa-exclamation-circle"></i></a>
              </h6>
            </td>
            <td>{{bill.date | date: 'dd-MM-yyyy'}}</td>
            <td>
              <button class="btn btn-sm btn-info" (click)="payBill(bill)"><i class="fa fa-inr"></i> Pay</button> 
            </td>
          </tr>
          <tr>
            <td colspan="7" *ngIf="!allBills">
              <span class="text-danger"><i class="fa fa-exclamation-triangle"></i> Currently there are no bills available.</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>