<div class="mainbg">
  <app-nav></app-nav>
  <div class="container maincontainer">
      <h4 class="text-primary pagetitle">Add Menu</h4>
      <hr>
      <div class="col-md-6">
        <label>Menu Name</label>
        <input type="text" class="form-control" placeholder="Menu Name">
        <br>
      </div>
      <div class="col-md-6">
        <label>Menu Type</label>
          <input type="text" class="form-control" list="menutype" placeholder="Menu Type">
          <br>
          <datalist id="menutype">
          <option value="Breakfast"></option>
          <option value="Starters"></option>
          <option value="Main Course"></option>
          <option value="Dessert"></option>
          </datalist>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary">
          <i class="fa fa-save"></i>  Add
        </button>
      </div>
      <div class="col-md-12">
        <br>
        <h3 class="text-primary pagetitle">All Menu</h3>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="input-group searchBoxGroup floatRight">
            <span class="input-group-addon btn-info" id="basic-addon1">
                <i class="fa fa-search"></i>
            </span>
            <input class="form-control" placeholder="Search Menu" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-md-12 row">
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>adasf</td>
                <td>adasd</td>
              </tr>
            </tbody>
          </table>
        </div>
     </div>
    </div>
