<div class="mainbg">
  <app-nav></app-nav>
  <div class="container maincontainer">
    <h4 class="text-primary pagetitle">Inventory Out</h4>
    <hr>
    <div class="row">
      <div class="col-xs-12  col-md-12">

        <div class="row">
          <div class="col-xs-4 col-md-2 ">Date & Time</div>
          <div class="col-xs-8 col-md-8">
            <input type="text" class="form-control " value="20/10/2018 10:20 AM" disabled>
          </div>
        </div>
        <br>

        <br>
        <div class="panel panel-default">
          <div class="panel-heading">Products</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped">
                  <thead>
                    <th>Sr</th>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <select class="form-control prod_list">
                          <option selected value="Product1">Product1</option>
                          <option value="AProduct2">AProduct2</option>
                          <option value="CProduct3">CProduct3</option>
                          <option value="RProductr4">RProductr4</option>
                          <option value="AProduct5">AProduct5</option>
                        </select>
                      </td>
                      <td>
                        <button class="btn btn-xs btn-danger">X</button>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <select class="form-control prod_list">
                          <option value="Product1">Product1</option>
                          <option value="AProduct2">AProduct2</option>
                          <option selected value="CProduct3">CProduct3</option>
                          <option value="RProductr4">RProductr4</option>
                          <option value="AProduct5">AProduct5</option>
                        </select>
                      </td>
                      <td>
                        <button class="btn btn-xs btn-danger">X</button>
                      </td>

                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <select class="form-control prod_list">
                          <option value="Product1">Product1</option>
                          <option value="AProduct2">AProduct2</option>
                          <option value="CProduct3">CProduct3</option>
                          <option selected value="RProductr4">RProductr4</option>
                          <option value="AProduct5">AProduct5</option>
                        </select>
                      </td>
                      <td>
                        <button class="btn btn-xs btn-danger">X</button>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <select class="form-control prod_list">
                          <option value="Product1">Product1</option>
                          <option value="AProduct2">AProduct2</option>
                          <option value="CProduct3">CProduct3</option>
                          <option value="RProductr4">RProductr4</option>
                          <option selected value="AProduct5">AProduct5</option>
                        </select>
                      </td>
                      <td>
                        <button class="btn btn-xs btn-danger">X</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row pull-right">
                  <div class="col-xs-12">
                    <button class="btn btn-sm btn-info">Save</button></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>