<div class="mainbg">
  <app-nav></app-nav>
  <div class="container maincontainer">
    <h4 class="text-primary pagetitle">Add User</h4>
    <hr>
    <div class="col-md-6">
      <label> User Name</label>
      <input type="text" class="form-control" placeholder="User Name">
      <br>
      <label> Password</label>
      <input type="password" class="form-control" placeholder="Password">
      <br>
    </div>
    <div class="col-md-6">
      <label>Full Name</label>
      <input type="text" class="form-control" placeholder="Full Name">
      <br>
      <label>Contact</label>
      <input type="text" class="form-control" placeholder="Contact">
      <br>
    </div>
    <div class="col-md-6">
      <label>Role</label>
      <input type="text" class="form-control" list="user">
      <datalist id="user" >
        <option value="Admin">Admin</option>
        <option value="Kitchen">Kitchen</option>
        <option value="Hotel">Hotel</option>
      </datalist>
      <br>
    </div>
    <div class="col-md-12">
      <button class="btn btn btn-primary">
        <i class="fa fa-save"></i> Add
      </button>
    </div>
  </div>