<div class="mainbg">
  <app-nav></app-nav>
  <div class="container maincontainer">
    <h4 class="text-primary pagetitle">Add Product</h4>
    <hr>
    <div class="alert alert-success" role="alert" *ngIf="successFlag">
      <strong>{{successFlag}}</strong>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorFlag">
      <strong>{{errorFlag}}</strong>
    </div>
    <div class="col-md-6">
      <label>Product Name</label>
      <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="pname" name="pname">
      <br>
    </div>
    <div class="col-md-6">
      <label>Unit Name</label>
      <input type="text" class="form-control" list="unitnm" placeholder="Unit Name" [(ngModel)]="uname" name="uname">
      <datalist id="unitnm">
        <option value="{{unit.id}}.{{unit.uname}}" *ngFor="let unit of unit_list">{{unit.uname}}</option>
      </datalist>
      <br>
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="addProduct();" *ngIf="editproduct<0">
        <i class="fa fa-save"></i> Add</button>
      <div *ngIf="editproduct>0">
        <button class="btn btn-sm btn-warning " (click)="editProdSave()">
          <i class="fa fa-pencil"></i>Save</button>
        &nbsp;
        <button class="btn btn-sm btn-default " (click)="cancel_edit_Product()">
          <i class="fa fa-times"></i>Cancel</button>
      </div>
    </div>

    <div class="col-md-12">
      <br/>
      <h3 class="text-primary pagetitle"> All Products</h3>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group searchBoxGroup floatRight">
          <span class="input-group-addon btn-info" id="basic-addon1">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control" placeholder="Search Product" aria-describedby="basic-addon1">
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
             <th>Unit</th>
            <th>Activate/De-Activate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of product_list; let i = index">
            <td width="40px">{{i+1}}</td>
            <td>{{product.pname}}</td>
            <td>{{product.uname}}</td>
            <td>
              <button class="btn btn-xs btn-warning ml10" (click)="edit_Product(i,product.id,product.uid)" title="Edit Prodcut"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-xs btn-success ml10" (click)="toggleProduct(product.id,'activate')" *ngIf="product.deleted_by">Activate</button>
              <button class="btn btn-xs btn-danger ml10" (click)="toggleProduct(product.id,'deactivate')" *ngIf="!product.deleted_by">Deactivate</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>