<div class="mainbg">
	<app-nav hidemenu="true"></app-nav>
	<div class="container">
		<div class="col-md-8">
			<h1 class="cursive-font">All in good taste!</h1>	
		</div>
		<div class="col-md-4">
			<div class="form-wrap">
				<div class="tab-content">
					<div class="tab-content-inner active" data-content="signup">
						<h3 class="cursive-font">Sign In</h3>
						<form action="#">
							<div class="row form-group">
								<div class="col-md-12">
									<label for="activities">Username</label>
									<input type="text" class="form-control" placeholder="Enter Username" [(ngModel)]="usernm" name="usernm">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<label for="date-start">Password</label>
									<input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]="passwd" name="passwd">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<input type="button" class="btn btn-gold btn-block" value="Login" (click)="checkLogin();">
									<h5 class="text-tomato bold" *ngIf="errorMessage">{{errorMessage}}</h5>
								</div>
							</div>
						</form>	
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>